<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Language" content="de-ch">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr.oddmonth {
  background-color: #aaffaa;
}

</style>
<link rel="stylesheet" href="http://www.psue.ch/psue.css">
</head>
<body>

<div id="horizontal_menu" style="height:100%; width:100%; overflow: hidden; margin-bottom: 10px;margin-top: 10px;">
    <div id="one" style="float: left; width:auto;">
      <a href="http://www.psue.ch" class="greenbtn">Zur Hauptseite</a>
    </div>
    <div id="two" style="float: left; width:auto;">
      <a href="http://www.psue.ch/calendar/psue_cal.ics" class="greenbtn">Kalender-Import (Link iCalendar File)</a>
    </div>
</div>

<h1>PSUE Schiesskalender 2024</h1>

<table>
  <tr>
    <th>Datum</th>
    <th>Uhrzeit</th>
    <th>Anlass</th>
  </tr>

  {% for event in events %}
  {% if odd_month(event.date) == True %}
    <tr class="oddmonth">
  {% else %}
    <tr>
  {% endif %}
      <td>{{ event.date }}</td>
      <td>{{ event.time }}</td>
      <td>{{ event.descr }}</td>
  </tr>
  {% endfor %}
</table>
<h3>
{{ date.strftime('Letzte &Auml;nderung am %d. %B %Y') }}
</h3>
</body>
</html>