<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr.oddmonth {
  background-color: #aaffaa;
}

</style>
<link rel="stylesheet" href="http://www.psue.ch/psue.css">
</head>
<body>

<br>
<a href="http://www.psue.ch" class="greenbtn">Home</a>
<br>


<h2>PSUE Schiesskalender</h2>

<table>
  <tr>
    <th>Datum</th>
    <th>Uhrzeit</th>
    <th>Anlass</th>
  </tr>

  {% for event in events %}
  {% if odd_month(event.date) == True %}
    <tr class="oddmonth">
  {% else %}
    <tr>
  {% endif %}
      <td>{{ event.date }}</td>
      <td>{{ event.time }}</td>
      <td>{{ event.descr }}</td>
  </tr>
  {% endfor %}
</table>

</body>
</html>